
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="row">
        <div class="offset-lg-3 col-lg-6 offset-md-1 col-md-10 col-sm-12 contact-caption clearfix">
                <div class="col-md-12 contact-form">
                    <h3>kayıt</h3>
                    <form class="form-group">
                        <br />
                        <div class="input-group col-md-10 offset-md-1">
                            <span class="input-group-addon input-group-icon"><i class="fa fa-user"></i></span>
                            <input class="form-control col-md-10" type="text" placeholder="Ad Soyad">
                        </div>
                        <br/>
                        <div class="input-group col-md-10 offset-md-1">
                            <span class="input-group-addon input-group-icon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control col-md-10" type="email" placeholder="Email Adresi">
                        </div>
                        <br />
                        <input class="phone" type="text" placeholder="Phone No:">
                        <textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                        <input class="submit-btn" type="submit" value="SUBMIT">
                    </form>
                </div>
        </div>
    </div>
</div>


